* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* carrito */

.count-container {
    width: 90px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a6a6a6;
}

.count-container:hover {
    border: 1px solid #6b6b6b;
}

.count {
    width: 30px;
    text-align: center;
}

/* Ocultar los botones de incremento y decremento en navegadores webkit */
.count[type=number]::-webkit-inner-spin-button,
.count[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.minor-btn,
.major-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 4px;
    width: 30px;
    height: 25px;
    transition: all .5s ease;
}

.minor-btn:hover,
.major-btn:hover  {
    background-color: #b1b1b144;
    transition: all .5s ease;
}

.disable {
    fill: #9e9d9d;
}


.amount-text,
.unit-price {
    font-size: smaller;
}


/* .space {
    height: 150px;
} */

/* summary */

#summary {
    position: fixed;
    top: 125px;
    left: 60%;
    max-height: 200px;
}

@media (max-width: 767px) {
    #summary {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
    }
}